.footer {
  padding: 10rem 0 4rem;
  background: $main-bg url('../img/bg-footer.png') no-repeat bottom center;
  background-size: cover;
  width: 100%;
  @include mq (tablet, max) {
    padding-top: 3.125rem;
    padding-bottom: 1rem;
  }
  .column {
    z-index: 1;
  }
  
  .title-wrap {
    @include mq (tablet, max) {
      text-align: center;
    }
  }
  &-form {
    margin-top: 48px;
    margin-bottom: 33px;
    width: 558px;
    max-width: 100%;
    @include mq (tablet-wide, max) {
      margin-top: 137px;
      margin-bottom: 25px;
      padding: 32px 24px;
    }
    @include mq(phablet, max) {
      text-align: center;
    }
    .h4 {
      @include mq(phablet, max) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .input-wrap {
      padding-top: 23px;
      @include space-between;
      @include mq (phablet, max) {
        flex-direction: column;
      }
    }
    input {
      width: 304px;
      @include mq (phablet, max) {
        width: 100%;
      }
    }
    .button {
      width: 168px;
      margin-left: 15px;
      @include mq (phablet, max) {
        width: 100%;
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
  .img-wrap {
    position: absolute;
    top: -190px;
    right: -80px;
    max-width: 935px;
    @include mq ("1650", max) {
      right: 0;
      max-width: 835px;
    }
    @include mq (tablet-wide, max) {
      top: 110px;
      width: 120%;
      max-width: 490px;
    }
    
  }
  .social-wrap {
    display: flex;
    align-items: center;
    @include mq (m, max) {
      flex-direction: column;
    }
    .h4 {
      @include mq(tablet, max) {
        font-size: 1rem;
        line-height: 1.1875rem;
      }
    }
    ul {
      margin-left: 32px;
      display: flex;
      @include mq (phablet, max) {
        margin-left: 12px;
      }
      @include mq (m, max) {
        margin-top: 20px;
        margin-left: 0;
      }
    }
    li {
      margin: 0 6px;
      // padding: 10px;
      // border: 1px solid rgba(255, 255, 255, 0.2);
      // border-radius: 8px;
      
    }
  }
  &-copyright {
    padding-top: 115px;
    justify-content: space-between;
    @include mq (tablet, max) {
      padding-top: 60px;
    }
    .column {
      padding-top: 20px;
    }
    .nav {
      ul {
        @include mq (phablet, max) {
          @include space-between;
        }
        li {
          &:first-child {
            padding-left: 0;
          }
          @include mq (phablet, max) {
            padding: 0;
          }
        }
      }
    }
    .copy {
      font-size: 14px;
      line-height: 155%;
      opacity: 0.6;
      text-align: right;
      @include mq (phablet, max) {
        text-align: center;
      }
    }
  }
}

