.hero {
  padding-top: 145px;
  padding-bottom: 75px;
  background: $main-bg url('../img/bg-main.png') no-repeat center;
  background-size: cover;
  h1 {
    font-family: $medium_font;
    @include mq (tablet, max) {
      margin-bottom: 50px;
      font-size: 1.5rem;
      line-height: 1.8125rem;
    }
  }
  &__inner {
    padding: 117px 250px 70px;
    background: #171D30;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    @include mq ("991", max) {
      padding: 50px 16px 30px;
    }
  }
  &__counter {
    margin-top: 30px;
    @include mq (tablet, max) {
      margin-top: 45px;
    }
  }
  &__btn {
    margin-top: 30px;
    .button {
      margin: auto;
      width: 267px;
      height: 68px;
      font-size: 20px;
    }
  }
  &__social {
    margin-top: 40px;
    justify-content: center;
    @include mq (tablet, max) {
      position: absolute;
      bottom: -74px;
      left: 20px;
    }
    @include mq (m, max) {
      bottom: -114px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}
//2 section
.benefits {
  padding-top: 75px;
  margin-bottom: -50px;
  position: relative;
  background: $main-bg url('../img/bg-benefits.png') no-repeat center;
  background-size: cover;
  &:after {
    content: '';
    background-image: url('../img/comet.png');
    background-size: 252px 169px;
    width: 252px;
    height: 169px;
    position: absolute;
    right: 40px;
    top: -60px;

    @include mq (tablet, max) {
      background-size: 60px 40px;
      width: 60px;
      height: 40px;
      right: 16px;
      top: 30px;
    }
  }
  .content-box-row {
    margin-right: -8px;
    margin-left: -8px;
    @include mq ("991", max) {
      justify-content: center;
    }
  }
  &__box-content-gradient {
    margin: 130px auto 0;
    width: 618px;
    max-width: 100%;
    position: relative;
    @include mq (tablet, max) {
      margin-top: 56px;
    }
    .box-content-gradient {
      @include mq (tablet-small, max) {
        padding: 16px;
      }
    }
    .h3 {
      max-width: 333px;
      margin-bottom: 25px;
      @include mq (tablet-small, max) {
        max-width: 200px;
      }
    }
    .button {
      width: 234px;
    }
    &:after {
      content: '';
      background-image: url('../img/coin.png');
      background-size: 223px 265px;
      width: 223px;
      height: 265px;
      position: absolute;
      right: 40px;
      top: -100px;
      @include mq (tablet-small, max) {
        background-size: 123px 145px;
        width: 123px;
        height: 145px;
        right: 16px;
        top: -30px;
      }
    }
  }
}

//yellow btn
.banner-info {
  @include flex-center;
  margin: auto;
  max-width: 520px;
  height: 72px;
  background: $lemon_color;
  box-shadow: 0px 5px 40px rgba(255, 223, 109, 0.24);
  border-radius: 8px;
  transform: skewX(-15deg);
  @include mq (tablet, max) {
    max-width: 300px;
    height: 57px;
    padding: 0 47px;
  }
  @include mq (m, max) {
    padding: 0 37px;
  }
  p {
    font-size: 22px;
    line-height: 100%;
    font-family: $medium_font;
    color: #151926;
    text-align: center;
    transform: skewX(15deg);
    @include mq (tablet, max) {
      font-size: 16px;
    }
  }
}

.content-box {
  margin: 8px;
  padding: 38px 15px 15px;
  width: 344px;
  height: 218px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(31, 38, 60, 0.6);
  // backdrop-filter: blur(4px);
  border-radius: 24px;
  @include mq (tablet, max) {
    padding: 30px 10px 10px;
    width: 168px;
    height: 168px;
    margin: 6px;
  }
  @include mq (m, max) {
    padding: 15px 5px 5px;
    width: 138px;
    height: 138px;
  }
  strong {
    font-size: 4rem;
    line-height: 4.8125rem;
    text-align: center;
    letter-spacing: 0.02em;
    // color: linear-gradient(180deg, #314897 100%, #5DF0F9 100%);
    background: -webkit-linear-gradient(359deg, #314897 -10%, #5DF0F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include mq (tablet, max) {
      font-size: 2rem;
      line-height: 2.4375rem;
    }
    @include mq (m, max) {
      font-size: 1.5rem;
      line-height: 2.0rem;
    }
  }
  p {
    margin-top: 18px;
    max-width: 205px;
    @include mq (tablet, max) {
      font-size: .875rem;
    }
    @include mq (m, max) {
      font-size: .75rem;
    }
  }
}

