.social-wrap {
  display: flex;
  align-items: center;

  @include mq (m, max) {
    flex-direction: column;
  }

  .h4 {
    @include mq(tablet, max) {
      font-size: 1rem;
      line-height: 1.1875rem;
    }
    @include mq(phablet, max) {
      font-size: 14px;
    }
  }

  ul {
    margin-left: 20px;
    display: flex;

    @include mq (phablet, max) {
      margin-left: 12px;
    }

    @include mq (m, max) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  li {
    margin: 0 6px;
    svg {
      @include mq(phablet, max) {
        width: 30px;
      }
    }
  }
}