.social-wrap {
  display: flex;
  align-items: center;

  @include mq (m, max) {
    flex-direction: column;
  }

  .h4 {
    @include mq(tablet, max) {
      font-size: 1rem;
      line-height: 1.1875rem;
    }
  }

  ul {
    margin-left: 32px;
    display: flex;

    @include mq (phablet, max) {
      margin-left: 12px;
    }

    @include mq (m, max) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  li {
    margin: 0 6px;
    // padding: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.2);
    // border-radius: 8px;

  }
}