//2 section
.benefits {
  padding-top: 75px;
  margin-bottom: -50px;
  position: relative;
  @include mq (tablet, max) {
    padding-top: 35px;
  }
  &__meteorite {
    animation: shoot 1.5s linear infinite;
    top: -100px;
    position: absolute;
    left: 50%;
    @include mq ("1650", max) {
      left: 40%;
    }
    @include mq (desktop-wide, max) {
      left: -50px;
      top: 40%;
    }
    @include mq (tablet, max) {
      display: none;
    }
    
  }
  

  //gold coin
  .asset-5 {
    width: 76px;
    height: 83px;
    position: absolute;
    right: 170px;
    bottom: 0;
    z-index: 1;
    animation: shoot-2 1.5s linear infinite;
    @include mq ("991", max) {
      width: 36px;
      height: 43px;
    }
  }

  .content-box-row {
    margin-right: -8px;
    margin-left: -8px;

    @include mq ("sm-comp", max) {
      flex-direction: column;
    }

    .part {
      display: flex;
      width: 50%;

      @include mq ("sm-comp", max) {
        width: 100%;
      }
    }

  }

  .content-box {
    border: 0;
  }

  &__box-content-gradient {
    margin: 130px auto 0;
    position: relative;
    width: 618px;
    max-width: 100%;
    z-index: 1;

    @include mq ("520", max) {
      margin-top: 56px;
    }

    .box-content-gradient {
      @include mq ("520", max) {
        padding: 16px;
      }
    }

    .h3 {
      max-width: 333px;
      margin-bottom: 25px;

      @include mq (tablet-small, max) {
        max-width: 200px;
      }
    }

    .button {
      width: 234px;
    }

    //blue coin
    &:after {
      content: '';
      background-image: url('../img/coin.png');
      background-size: cover;
      width: 373px;
      height: 415px;
      position: absolute;
      right: -30px;
      top: -120px;
      z-index: 2;
      @include mq (tablet, max) {
        right: -15px;
      }
      @include mq ("520", max) {
        width: 203px;
        height: 235px;
        top: -50px;
      }
      @include mq (m, max) {
        width: 113px;
        height: 125px;
        right: -5px;
        top: -30px;
      }
    }
  }
}