//3 section
.best-team {
  padding-top: 170px;
  padding-bottom: 160px;
  position: relative;

  @include mq (tablet, max) {
    padding-bottom: 90px;
  }
  .column {
    @include mq ("991") {
      width: 50%;
    }
    @include mq (tablet) {
      padding: 0;
    }
  }
  &__meteorite {
    top: -100px;
    left: 200px;
    @include mq (tablet, max) {
      left: 150px;
    }
  }
  &__meteorite-2 {
    top: 300px;
    left: 0px;
    animation: shoot-2 1.1s linear infinite;
    @include mq (tablet, max) {
      left: -100px;
    }
  }
  //blue coin
  .coin-2 {
    width: 52px;
    height: 52px;
    position: absolute;
    right: -200px;
    top: 50px;
    animation: shoot-2 2.0s ease-out infinite;
  }

  &__img-desktop {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    @include mq (desktop-wide, max) {
      width: 600px;
    }
    

    //blue coin
    .coin-1 {
      width: 154px;
      height: 122px;
      position: absolute;
      left: 210px;
      top: 100px;
      transform: rotate(-25deg);
      animation: shoot-2 1.1s linear infinite;
    }
    
    .coin-3 {
      width: 92px;
      height: 94px;
      position: absolute;
      right: 0;
      bottom: 100px;
      transform: rotate(-25deg);
      animation: shoot 1.5s linear infinite;
    }
  }
  .wrap-img-mobile,
  .wrap-img-desktop {
    position: relative;
    z-index: 4;
    left: -15px;
  }
  &__content {
    position: relative;
    z-index: 5;
  }

  &__img-mobile {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    @include mq ("991") {
      display: none;
    }

    img {
      width: 250px;
    }

    .red-smoke {
      width: 200px;
      height: 200px;
      opacity: 0.45;
      filter: blur(160px);
    }

    .extra-element {
      &-mob {
        .comet-1 {
          width: 37px;
          height: 25px;
          position: absolute;
          right: 30px;
          top: 40px;
          animation: shoot-2 1.5s linear infinite;
        }
        .comet-2 {
          width: 37px;
          height: 25px;
          position: absolute;
          right: 90px;
          top: 100px;
          animation: shoot-2 1.5s linear infinite;
        }
        .coin-5 {
          width: 20px;
          height: 20px;
          position: absolute;
          left: 160px;
          bottom: 70px;
          animation: shoot-2 2s linear infinite;
        }
        .coin-4{
          width: 44px;
          height: 54px;
          position: absolute;
          left: 200px;
          bottom: 10px;
          animation: shoot-2 3s linear infinite;
        }
      }
    }
  }

  &__img-desktop {
    @include mq ("991", max) {
      display: none;
    }
  }

  .extra-element {

    //blue coin
    &::before {
      content: '';
      background-image: url('../img/coin-5.png');
      background-repeat: no-repeat;
      background-size: 66px 81px;
      width: 66px;
      height: 81px;
      position: absolute;
      right: 10px;
      top: 230px;
    }
  }

  &__btn {
    margin-top: 30px;
  }

  &__description {
    margin-top: 90px;

    @include mq ("991", max) {
      margin-left: 85px;
      margin-top: 0;
    }
  }

  .desc-block {
    padding-left: 20px;
    border-left: 1px solid #252D48;
    width: 660px;
    max-width: 100%;

    p {
      color: $third_color;
      margin-bottom: 30px;
      font-size: $large-font-size;
      line-height: 120%;

      &:last-child {
        margin-bottom: 0;
      }

      @include mq (tablet, max) {
        font-size: $base-font-size;
        margin-bottom: 28px;
      }
    }
  }

  &__slogan {
    margin-top: 50px;

    @include mq (tablet, max) {
      text-align: center;
      margin-top: 40px;
    }
  }
}