//4 section 
.pricing {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: $main-bg;
  position: relative;

  &::before {
    content: '';
    background: url('../img/asset-6.png') no-repeat;
    width: 145px;
    height: 167px;
    position: absolute;
    left: 130px;
    top: -70px;

    @include mq (tablet-wide, max) {
      display: none;
    }
  }

  @include mq (tablet-wide, max) {
    padding-top: 35px;
    padding-bottom: 24px;
  }

  // background-color: rgba(18, 25, 46, 0.25);
  .h1 {
    margin-bottom: 85px;

    @include mq (tablet, max) {
      margin-bottom: 10px;
    }
  }

  .h4 {
    font-family: $medium_font;

    @include mq (tablet, max) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }

  .row-content-box {
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center;

    @include mq (sm-comp, max) {
      flex-direction: column;
    }
  }

  .content-box {
    margin: 15px;
    width: 432px;
    min-height: 210px;
    background: rgba(21, 35, 64, 0.75);
    backdrop-filter: blur(12px);

    @include mq (sm-comp, max) {
      width: 90%;
      min-height: 196px;
    }

    strong {
      font-size: 3rem;
      line-height: 3.625rem;
      letter-spacing: 0.05em;
      background: -webkit-linear-gradient(359deg, #FFDF6D 10%, #7320B4 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include mq (tablet-wide, max) {
        font-size: 36px;
        line-height: 44px;
      }

      //separate
      &:after {
        content: '';
        position: absolute;
        top: 15px;
        left: 50%;
        width: 2px;
        height: 182px;
        background: linear-gradient(180deg, #1A213D 0%, #B77E91 54.17%, #1B223D 100%);
        transform: rotate(-90deg);

        @include mq (tablet-wide, max) {
          top: -36px;
          margin-top: 40px;
        }
      }
    }

    p {
      margin-top: 25px;
      max-width: 240px;
      font-family: $medium_font;
      font-size: $medium-font-size;
      line-height: 26px;
      color: $third_color;

      @include mq (tablet-wide, max) {
        margin-top: 40px;
        max-width: 100%;
      }
    }

  }

  .has-bitcoin {
    &::after {
      @include mq (sm-comp, max) {
        display: none;
      }
    }
  }

  .wrap-info {
    p {
      padding-right: 20px;
      max-width: 610px;
    }
  }

  &__learn-more {
    margin-top: 32px;

    @include mq (tablet, max) {
      margin-top: 12px;
    }
  }

  .row-membership {
    margin-top: 85px;

    @include mq (tablet, max) {
      margin-top: 45px;
    }

    .left {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 45px;
      margin-left: 15px;
      @include space-between;
      border-bottom: 1px solid #3F4E77;

      @include mq (tablet-wide, max) {
        padding-bottom: 30px;
        border-bottom: 0;
        flex-direction: column;
        align-items: flex-start
      }
    }
  }

  &__btn {
    @include mq (tablet-wide, max) {
      margin-top: 30px;
    }

    .button {
      width: 224px;

      @include mq (tablet, max) {
        width: 212px;
      }

      @include mq (m, max) {
        width: 160px;
      }
    }
  }

  &__coin-twix {
    position: absolute;
    bottom: -60px;
    right: 30px;

    @include mq ("991", max) {
      bottom: 0;
      right: 15px;
    }

  }

}