//5 section 
.roadmap {
  padding-top: 180px;
  padding-bottom: 164px;
  // background: $main-bg url('../img/bg-roadmap.png') no-repeat bottom center;
  // background-size: cover;
  position: relative;

  &::after {
    content: '';
    background-image: url('../img/bg-eath.png');
    background-repeat: no-repeat;
    width: 516px;
    height: 375px;
    background-size: 516px, 375px;
    position: absolute;
    right: 0;
    top: 0;

    @include mq (tablet-wide, max) {
      top: auto;
      bottom: 130px;
      background-image: url('../img/eath-mobile.png');
      width: 225px;
      height: 300px;
      background-size: 225px, 300px;
    }
  }

  .coin-4 {
    width: 120px;
    height: 130px;
    position: absolute;
    right: 47%;
    top: -50px;
    transform: rotate(105deg);

    @include mq (tablet-wide, max) {
      display: none;
    }
  }

  @include mq (tablet-wide, max) {
    padding-top: 40px;
  }

  .h1 {
    margin-bottom: 70px;

    @include mq (tablet, max) {
      margin-bottom: 20px;
    }

  }

  h3 {
    margin-bottom: 40px;

    @include mq (tablet, max) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  
  &-slider {
    @include mq (tablet-wide, max) {
      z-index: 1;
    }

    .content-box {
      padding: 60px 10px 55px 32px;
      width: 465px;
      transition: all 0.2s ease-out;

      @include mq (tablet, max) {
        width: 272px;
        padding: 32px;
      }
    }

    ul {
      li {
        padding-bottom: 30px;
        font-size: $medium-font-size;
        color: rgba(130, 200, 244, 0.48);
        line-height: 18px;
        &.lemon-color {
          color: $lemon_color;
          opacity: 0.48;
        }

        &:last-child {
          padding-bottom: 0;
        }

        @include mq (tablet, max) {
          padding-bottom: 20px;
          font-size: $base-font-size;
        }
      }
    }

    //active slide(center)
    .slick-current {
      background: #203561;
      border: 1px solid #7CAFFF;

      &::after {
        content: '';
        background-image: url('../img/asset-2.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 136px;
        height: 110px;
        position: absolute;
        bottom: -55px;
        right: 70px;
        animation: MoveDownUp 3s linear infinite;
        @include mq (desktop-wide, max) {
          width: 90px;
          height: 90px;
        }

        @include mq (tablet-wide, max) {
          display: none;
        }
      }

      ul {
        li {
          color: $white;
          &.lemon-color {
            color: $lemon_color;
            opacity: 1;
          }
        }
      }
    }

    .slick-list {
      padding-bottom: 50px !important;
    }
  }

  .wrap-img {
    position: absolute;
    bottom: 0;
    left: 0;
    @include mq (tablet-wide, max) {
      bottom: -30px;
    }

    .desktop {
      width: 620px;
      @include mq (desktop-wide, max) {
        width: 500px;
      }
      @include mq (tablet-wide, max) {
        display: none;
      }
    }

    .mobile {
      @include mq (tablet-wide) {
        display: none;
      }
    }
  }

  .red-smoke {
    width: 300px;
    height: 380px;

    @include mq (tablet, max) {
      width: 100px;
      height: 280px;
    }
  }
}