@font-face {
  font-family: 'CoolveticaL';
  src: url('../fonts/TypodermicCoolveticaLtRegular.woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CoolveticaL';
  src: url('../fonts/TypodermicCoolveticaLtItalic.woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'CoolveticaR';
  src: url('../fonts/TypodermicCoolveticaRgRegular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CoolveticaR';
  src: url('../fonts/TypodermicCoolveticaRgItalic.woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CoolveticaB';
  src: url('../fonts/TypodermicCoolveticaRgBold.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CoolveticaB';
  src: url('../fonts/TypodermicCoolveticaRgBoldItalic.woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family:'CoolveticaCondensedL';
  src: url('../fonts/TypodermicCoolveticaCondensedLtRegular.woff2');
  font-weight:300;
  font-style:normal;
}
@font-face {
  font-family:'CoolveticaCondensedR';
  src: url('../fonts/TypodermicCoolveticaCondensedRgRegular.woff2');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'CoolveticaCondensedB';
  src: url('../fonts/TypodermicCoolveticaCondensedRgBold.woff2');
  font-weight:700;
  font-style:normal;
}



@media screen and (max-width: 1900px) {

}
@media screen and (max-width: 1800px) {

}
@media screen and (max-width: 1700px) {

}
@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1500px) {

}
@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1300px) {

}
@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 1024px) {
  
}
@media screen and (max-width: 920px) {
  
}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 576px) {
  
}
@media screen and (max-width: 480px) {
        
}