$colorWhite: #ffffff;
$colorOrange: #f17d26;
$gradientDefault: linear-gradient(258.23deg, #F12959 -18.28%, #CC4F13 111.98%);
$gradientHover: linear-gradient(258.23deg, #CC4F13 -18.28%, #F12959 111.98%);

*{
  box-sizing: border-box;
}
body {
  background: #070125;
  font: 22px/32px 'CoolveticaL';
  color: $colorWhite;
  &.overflow{
    overflow: hidden;
  }
}
b, strong{
  font-family: 'CoolveticaB';
}
input, button{
  outline: 0;
}
.app {
  position: relative;
  width: 100%;
  min-height: 100Vh;
  overflow-x: hidden;
}
.wrap{
  width: 100%;
  max-width: 1920px;
  padding: 0 128px;
  margin: 0 auto;
  @media screen and (max-width: 1800px) {
    padding: 0 80px;
  }
  @media screen and (max-width: 1700px) {
    padding: 0 70px;
  }
  @media screen and (max-width: 1600px) {
    padding: 0 60px;
  }
  @media screen and (max-width: 1500px) {
    padding: 0 50px;
  }
  @media screen and (max-width: 1400px) {
    padding: 0 40px;
  }
  @media screen and (max-width: 1300px) {
    padding: 0 30px;
  }
  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 4px;
  background: $gradientDefault;
  font-family: 'CoolveticaB';
  font-size: 22px;
  line-height: 22px;
  color: $colorWhite;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background .35s ease;
  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 18px;
  }
  &:hover{
    background: $gradientHover;
  }
}
.boxtitle{
  position: relative;
  font-family:'CoolveticaCondensedR';
  font-size: 64px;
  line-height: 76px;
  color: $colorWhite;
  letter-spacing: 0.03em;
  z-index: 1;
  @media screen and (max-width: 1024px) {
    font-size: 60px;
    line-height: 66px;
  }
  @media screen and (max-width: 920px) {
    font-size: 56px;
    line-height: 60px;
  }
  @media screen and (max-width: 768px) {
    font-size: 54px;
    line-height: 58px;
  }
  @media screen and (max-width: 576px) {
    font-size: 52px;
    line-height: 54px;
  }
  @media screen and (max-width: 480px) {
    font-size: 50px;
    line-height: 50px;
    br{
      display: none;
    }
  }
}

.card-about-us {
  display: flex;
  color: $colorWhite;
  text-decoration: none;

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }

  .img {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 222px;
    height: 222px;
    margin: 0 26px 0 0;
    border-radius: 16px;
    background: linear-gradient(137.17deg, #414C6B 27.3%, #131D39 100%);
    overflow: hidden;

    @media screen and (max-width: 550px) {
      width: 100%;
      height: 200px;
    }
    img {
      width: 100%;
    }
  }

  .info {
    overflow: hidden;
    @media screen and (max-width: 550px) {
      margin-top: 20px;
    }
  }
  .title {
    margin: 0 0 20px;
    font-family: 'CoolveticaCondensedR';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.03em;
    max-width: 290px;

    @media screen and (max-width: 768px) {
      font-size: 28px;
      line-height: 32px;
    }

    @media screen and (max-width: 576px) {
      font-size: 24px;
      line-height: 28px;
    }

    @media screen and (max-width: 480px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .desc {
    font-family: 'CoolveticaL';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    overflow: hidden;
    max-height: 88px;
    padding-right: 0;
    width: 100%;
    @media screen and (max-width: 576px) {
      max-height: 105px;
      font-size: 18px;
      line-height: 26px;
    }
    p {
      margin: 0;
    }
    @media screen and (max-width: 480px) {
      font-size: 16px;
      line-height: 22px;
    }
    
  }
}