header.main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 34px 0 0;
  background: transparent;
  z-index: 100;
  transition: top .35s ease, padding .35s ease, background .35s ease;
  @media screen and (max-width: 768px) {
    padding: 20px 0 0;
  }
  &.scrolled{
    position: fixed;
    top: -100px;
  }
  &.fixed{
    top: 0;
    padding: 20px 0;
    background: rgba(7, 1, 37, .9);
    backdrop-filter: blur(5px);
  }
  .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a.logo{
      display: block;
      width: 156px;
      img{
        display: block;
        width: 100%;
      }
    }
    ul{
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        left: -101%;
        display: block;
        width: 100%;
        height: 100Vh;
        padding: 20px;
        background: url(../img/contact.jpg) 50% 50% no-repeat;
        background-size: cover;
        transition: left .35s;
        z-index: 1000;
        &.active{
          left: 0;
        }
      }
      li{
        padding: 0 0 0 26px;
        &:first-child{
          padding: 0;
        }
        &.mobile,
        &.social{
          display: none;
        }
        @media screen and (max-width: 768px) {
          padding: 0 0 30px;
          &.mobile{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 100px;
            button{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              padding: 0;
              margin: 0;
              border: 0;
              background: transparent;
              span{
                position: relative;
                display: block;
                width: 100%;
                height: 3px;
                background: transparent;
                &:before,
                &:after{
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: linear-gradient(258.23deg, #F12959 -18.28%, #CC4F13 111.98%);
                  transform: rotate(0deg);
                  transition: all .35s ease;
                  content: "";
                }
                &:before{
                  transform: rotate(-45deg);
                }
                &:after{
                  transform: rotate(45deg);
                }
              }
            }
          }
          &.social{
            position: absolute;
            bottom: 30px;
            left: 0;
            display: block;
            width: 100%;
            padding: 0;
            ul{
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: auto;
              padding: 0;
              background: transparent;
              li{
                width: 40px;
                height: 40px;
                margin: 0 10px;
                padding: 0;
                a{
                  position: relative;
                  display: block;
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  background: rgba(196,196,196,.16);
                  transition: background .35s;
                  svg{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    transition: all .35s ease;
                    &.default{
                      visibility: visible;
                      opacity: 1;
                    }
                    &.hover{
                      visibility: hidden;
                      opacity: 0;
                    }
                  }
                }
                &:nth-child(1) svg{
                  width: 14px;
                  height: 26px;
                  margin: -13px 0 0 -7px;
                }
                &:nth-child(2) svg{
                  width: 24px;
                  height: 19px;
                  margin: -9.5px 0 0 -12px;
                }
                &:nth-child(3) svg{
                  width: 24px;
                  height: 24px;
                  margin: -12px 0 0 -12px;
                }
                &:nth-child(4) svg{
                  width: 19px;
                  height: 22px;
                  margin: -10px 0 0 -9.5px;
                }
                &:nth-child(5) svg{
                  width: 24px;
                  height: 18px;
                  margin: -9px 0 0 -12px;
                }
                &:hover{
                  svg.default{
                    visibility: hidden;
                    opacity: 0;
                  }
                  svg.hover{
                    visibility: visible;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        a{
          display: block;
          font-size: 15px;
          line-height: 15px;
          color: $colorWhite;
          text-decoration: none;
          transition: color .35s ease;
          letter-spacing: 0.05em;
          @media screen and (max-width: 768px) {
            font-size: 25px;
            line-height: 25px;
            text-align: center;
          }
          &:hover{
            color: $colorOrange;
          }
        }
      }
    }
    .mobilemenu{
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
        span{
          position: relative;
          display: block;
          width: 100%;
          height: 3px;
          background: linear-gradient(258.23deg, #F12959 -18.28%, #CC4F13 111.98%);
          &:before,
          &:after{
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(258.23deg, #F12959 -18.28%, #CC4F13 111.98%);
            transform: rotate(0deg);
            transition: all .35s ease;
            content: "";
          }
          &:before{
            top: -10px;
          }
          &:after{
            top: 10px;
          }
        }
      }
    }
  }
}