
* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; // for anchor tags
}

body {
    font-family: $regular_font;
    margin: 0px;
    font-size: 16px;
    height: 100%;
    color: $primary_color;
	
}

h1 {
    font-size: 3rem; //48px
    line-height: 3.625rem;
    font-family: $bold_font;
    color: $primary_color;
}

h2 {
    font-size: 2.5rem; //40px
    line-height: 48px;
    font-family: $bold_font;
    color: $secondary_color;
    letter-spacing: -0.5px;
    @include mq(tablet, max) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 2rem; //32px
    font-family: $bold_font;
    line-height: 38px;
    color: $secondary_color;
    @include mq(tablet, max) {
        font-size: 1.6rem;
    }
}

h4 {
    font-size: 1.5rem; //24px
    line-height: 32px;
    font-family: $bold_font;
    letter-spacing: -0.1px;
    color: $secondary_color;
}

h5 {
    font-size: 20px;
    line-height: 28px;
    color: $secondary_color;
    font-family: $bold_font;
}



strong, b, .bold {
    font-family: $bold_font;
}

//for section
.content {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

//overlay for section
.bg-overlay {
    // background-color: rgba(209, 166, 132, 0.8);
    background-color: $bg-overlay;
    opacity: 0.8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

.shadow{
    box-shadow: 0px 4px 54px rgba(170, 170, 170, 0.25);
}

.top-shadow{
    box-shadow: inset 0px 24px 19px -15px rgba(170, 170, 170, 0.25);
}

// color classes
.white-color{
    color: $white;
}
.primary-color{
    color:  $primary_color;
}
.primary-background{
    background-color:  $primary_color;
    color: $white;

    .content-header, .preview-font{
        color: $white;
    }
}

.off-white-background{
    background-color: $off_white;
}

.secondary-color{
    color: $secondary_color;
}
.secondary-background{
    background-color:  $secondary_color;
}

.white-background{
    background-color: $white;
}








