@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/gilroy/Gilroy-Light.eot');
  src: url('../fonts/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/Gilroy-Light.woff') format('woff'),
    url('../fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/gilroy/Gilroy-Regular.eot');
  src: url('../fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/gilroy/Gilroy-Medium.eot');
  src: url('../fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/Gilroy-Medium.woff') format('woff'),
    url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/gilroy/Gilroy-SemiBold.eot');
  src: url('../fonts/gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/gilroy/Gilroy-Bold.eot');
  src: url('../fonts/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica-Regular';
  src: url('../fonts/coolvetica/TypodermicCoolveticaRgRegular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coolvetica-Bold';
  src: url('../fonts/coolvetica/TypodermicCoolveticaRgBold.woff2');
  font-weight: bold;
  font-style: normal;
}