//colors
$primary_color: #ffffff;
$secondary_color: #353535;
$third_color: #82C8F4;
$lemon_color: #FFDF6D;
$main-bg: #121623;
$placeholder_color: #D0D0D0;


$grey: #E8DCD0;
$white: #ffffff;
$second_white: #FFF9F2;
$third_white: #F2F2F2;
$off_white: #F6F6F6;
$dark_grey: #656565;
$base_font_color: #515151;
$main_button_color: #F15F30;
$orange: #DA5429;
$bg-overlay: #D1A684;

// fonts
$regular_font: 'Gilroy-Medium', sans-serif; //500
$medium_font: 'Gilroy-SemiBold', sans-serif; //600
$bold_font: 'Gilroy-Bold', sans-serif; //700